<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Add New Tasks!</h3>
      <br />
      <label>Task:</label>
      <input type="text" class="form-control" [(ngModel)]="task">
      <br />
      <button class="btn btn-primary" (click)="onAddTask()">Add Task</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-item *ngFor="let task of tasks; let i = index" 
        [item]="{ index: i , name: task }" 
        (itemDeleted)="onDeleteTask($event)">
      </app-item>
    </div>
  </div>
</div>
